$sugar-cane: #ffffff;
$sun-yellow: #fab114;

$prussian-blue: #012651;
$prussian-blue-contrast: $sugar-cane;

$el-paso: #141105;
$el-paso-contrast: $sugar-cane;

$sun-yellow: $sun-yellow;
$sun-yellow-contrast: $el-paso;

$sugar-cane: $sugar-cane;
$sugar-cane-contrast: $el-paso;

$cerise-red: #de356e;
$cerise-red-contrast: $sugar-cane;

// Additional colors
$finn: #742f5d;
$scorpion: #626062;
$whatsapp-color: hsl(142, 70%, 49%);

$color-primary: var(--primary);
$color-secondary: var(--secondary);
$color-tertiary: var(--tertiary);
$color-dark: var(--dark);
$color-light: var(--light);
$color-transparent: var(--transparent);

$color-primary-contrast: var(--primaryContrast);
$color-secondary-contrast: var(--secondaryContrast);
$color-tertiary-contrast: var(--tertiaryContrast);
$color-dark-contrast: var(--darkContrast);
$color-light-contrast: var(--lightContrast);
