$sugar-cane: hsla(120, 100%, 100%, 1);
$sun-yellow: hsla(41, 96%, 53%, 1);

$prussian-blue: hsla(212, 98%, 16%, 1);
$prussian-blue-contrast-1: $sugar-cane;
$prussian-blue-contrast-2: $sun-yellow;

$el-paso: hsla(49, 57%, 5%, 1);
$el-paso-contrast-1: $sugar-cane;
$el-paso-contrast-2: $sun-yellow;

$sun-yellow: $sun-yellow;
$sun-yellow-contrast-1: $sugar-cane;
$sun-yellow-contrast-2: $el-paso;

$sugar-cane: $sugar-cane;
$sugar-cane-contrast-1: $el-paso;

$cerise-red: hsla(340, 72%, 54%, 1);
$cerise-red-contrast-1: $sugar-cane;

// Additional colors
$finn: hsla(320, 42%, 32%, 1);
$scorpion: hsla(300, 1%, 38%, 1);
$whatsapp-color: #25d366;

$color-primary: var(--primary);
$color-secondary: var(--secondary);
$color-tertiary: var(--tertiary);
$color-dark: var(--dark);
$color-light: var(--light);
$color-transparent: var(--transparent);

$color-primary-contrast: var(--primary-contrast);
$color-secondary-contrast: var(--secondary-contrast);
$color-tertiary-contrast: var(--tertiary-contrast);
$color-dark-contrast: var(--dark-contrast);
$color-light-contrast: var(--light-contrast);
