@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

$inconsolata: "Inconsolata";

@font-face {
  font-family: "Modern20";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url(/fonts/Modern20.ttf) format("truetype");
}

$modern20: "Modern20";

@font-face {
    font-family: "Champagne&Limousines";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: "Regular";
    src: url(/fonts/Champagne&Limousines_Bold.ttf) format("truetype");
  }
  
  $champlimo: "Champagne&Limousines";