@mixin for-xs {
    @media (max-width: $max-screen-width-xs) {
        @content;
    }
}

@mixin for-sm {
    @media (max-width: $max-screen-width-sm) {
        @content;
    }
}

@mixin for-md {
    @media (max-width: $max-screen-width-md) {
        @content;
    }
}

@mixin for-lg {
    @media (max-width: $max-screen-width-lg) {
        @content;
    }
}

@mixin for-xl {
    @media (max-width: $max-screen-width-xl) {
        @content;
    }
}

// Mixin for anchor styles
// $variant must be ( primary, secondary, tertiary, dark, light )

$anchor-variant-color: (
  primary: $color-primary,
  secondary: $color-secondary,
  tertiary: $color-tertiary,
  dark: $color-dark,
  light: $color-light,
);

// $variant will determine the links and border
// $bg-variant will determine the background where the anchor is used
@mixin anchor-styles($variant, $bg-variant){
    @extend %typography-p;
    text-decoration: none;
    color: map-get($anchor-variant-color, $variant);
    border-bottom: 3px solid map-get($anchor-variant-color, $bg-variant);
    &:hover {
        border-bottom: 3px solid map-get($anchor-variant-color, $variant);
        cursor: pointer;
    }
    &:focus {
        border-bottom: 3px solid map-get($anchor-variant-color, $variant);
    }
}