// Content Wrapper
%cw {

    width: 100%;    
    max-width: calc($max-screen-width-xl - 300px);
    padding: 16px;

    @include for-xl {
        max-width: calc($max-screen-width-xl - 350px);
    }

    @include for-lg {
        max-width: calc($max-screen-width-lg - 250px);
    }

    @include for-md {
        max-width: calc($max-screen-width-md - 200px);
    }

    @include for-sm {
        max-width: calc($max-screen-width-sm - 100px);
    }

    @include for-xs {
        max-width: calc($max-screen-width-xs - 32px);
    }

}
