$header-height: 120px;
$footer-height: 400px;

// Box Shadows

$box-shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$box-shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$box-shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$box-shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$box-shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);




// ==== BREAKPOINTS 

// XS Screens: Mobile devices, Phones
$min-screen-width-xs: 320px;
$max-screen-width-xs: 480px;

// Small Screens: iPads, Tablets
$min-screen-width-sm: 481px;
$max-screen-width-sm: 768px;

// Medium Screens: Small Screens, Laptops
$min-screen-width-md: 769px;
$max-screen-width-md: 1024px;

// Large Screens: Desktops, large screens
$min-screen-width-lg: 1025px;
$max-screen-width-lg: 1200px;

// XL Screens: Extra large screens, TV
$min-screen-width-xl: 1201px;
$max-screen-width-xl: 1440px;
