@import "../../styles/global"; // Importing global styles
@import "../../styles/component"; // 

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding-top: $header-height;

    

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .bubble {
        $size: 80px;
        width: $size;
        height: $size;
        border-radius: calc($size / 2);
        background-color: $whatsapp-color;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;

        &:active {
            box-shadow: $box-shadow-1;
        }

        &:hover {
            cursor: pointer;
            * {
                cursor: pointer;
            }
        }

        top: calc(100vh - $size - 20px);
        left: calc(100vw - $size - 20px);
    }

}