@import '/src/styles/component';

.icon {
  &--variant {
    &-primary {
      path {
        fill: $color-primary;
      }
    }
    &-secondary {
      path {
        fill: $color-secondary;
      }
    }
    &-tertiary {
      path {
        fill: $color-tertiary;
      }
    }
    &-dark {
      path {
        fill: $color-dark;
      }
    }
    &-light {
      path {
        fill: $color-light;
      }
    }
  }
}
