@import '../styles/component';

.equipo {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-wrapper {
        @extend %cw;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        p {
            text-align: justify;
        }
    }

    &-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: $color-primary;
        color: $color-primary-contrast;
        text-align: center;
        margin: 50px 0;
        &-title {
            @extend %typography-h1;
            text-align: center;
        }
    }

    &-card {
        background-color: $color-secondary;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        box-shadow: $box-shadow-3;
        padding: 20px;
        max-width: 290px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px;
        &:hover {
            box-shadow: $box-shadow-5;
        }

        &-image {
            border: 3px solid $color-primary;
            border-radius: 50%;
            overflow: hidden;
        }
        &-data {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px 0;

            &-name {
                @extend %typography-h5;
                text-align: center;
                font-weight: bold;
                color: $color-primary;
            }
            &-role {
                @extend %typography-small;
                text-align: center;
                margin-bottom: 20px;
                color: $color-primary;
            }
            &-link {
                display: flex;
                align-items: center;
                @extend %typography-p;
                @include anchor-styles('primary', 'secondary');
                user-select: none;
            }
        }
    }

    @include for-sm {
        &-header {
            &-title {
                @include typography-h2;
            }
        }
    }
}
