@import '../styles/component';

.landing {
    // Create variable for self referencing
    $ref: &;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-wrapper {
        @extend %cw;
    }

    &-banner {
        @extend %section;

        &-title {
            @extend %typography-h1;
            display: block;
            width: 100%;
            text-align: center;
            word-wrap: break-word;
            overflow-wrap: break-word;

            &-solfir {
                color: $color-primary;
            }
            @include for-xs {
                @include typography-h2;
            }
        }

        &-buttons {
            margin-top: 50px;
            display: flex;
            justify-content: center;
        }
    }

    &-services {
        @extend %section;
        background-color: $color-secondary;

        #{$ref}-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-title {
            margin-bottom: 60px;
        }

        &-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;

            .service-box {
                display: flex;
                width: 100%;
                border-radius: 10px;
                min-width: 300px;
                margin: 20px 10px;

                &-content {
                    display: flex;
                    flex-direction: column;

                    &-title {
                        @extend %typography-h4;
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                        margin: 60px 0;
                        &-icon {
                            display: flex;
                            margin-right: 20px;
                            $icon-size: 40px;
                            max-width: $icon-size !important;
                            max-height: $icon-size !important;
                            min-width: $icon-size !important;
                            min-height: $icon-size !important;
                        }
                    }

                    &-text {
                        @extend %typography-p;
                        text-align: justify;
                        word-break: normal;
                    }
                }

                @include for-md {
                    max-width: 100%;
                }

                @include for-xs {
                    &-content {
                        &-title {
                            text-align: center;
                            &-icon {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    &-blog {
        @extend %section;

        #{$ref}-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-title {
            @extend %typography-h2;
            text-align: center;
        }

        &-text {
            margin: 50px 0;
        }

        &-posts {
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;
            justify-content: center;
        }

        &-cta {
            margin-top: 60px;
        }
    }

    &-hireus {
        @extend %section;

        #{$ref}-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        background-color: $color-secondary;
        color: $color-secondary-contrast;

        &-title {
            text-align: center;
        }

        &-text {
            text-align: center;
        }

        &-cta {
            margin-top: 60px;
            text-align: center;
        }
    }
}
