@import '../styles/component';

.landing {
    // Create variable for self referencing
    $ref: &;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-wrapper {
        @extend %cw;
    }

    &-banner {
        padding-top: calc($header-height + 100px);

        &-title {
            @extend %typography-h1;
            color: $color-light;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
            display: block;
            width: 100%;
            text-align: center;
            word-wrap: break-word;
            overflow-wrap: break-word;
            font-weight: bold;

            &-solfir {
                color: $color-secondary;
            }
            @include for-xs {
                @include typography-h2;
            }
        }

        &-buttons {
            margin-top: 50px;
            display: flex;
            justify-content: center;
        }
    }

    &-services {
        @extend %section;
        background-color: $color-light;

        &-title {
            margin-bottom: 60px;
        }

        &-cta {
            margin-top: 50px;
        }

        &-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;

            &-card {
                margin-bottom: 20px;
            }
        }
    }

    &-blog {
        @extend %section;
        background-color: $color-light-2;

        #{$ref}-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-title {
            @extend %typography-h2;
            text-align: center;
        }

        &-text {
            margin: 50px 0;
        }

        &-posts {
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;
            justify-content: center;
        }

        &-cta {
            margin-top: 60px;
        }
    }

    &-hireus {
        @extend %section;
        background-color: $color-light;
        color: $color-light-contrast;

        &-title {
            text-align: center;
        }

        &-text {
            text-align: center;
        }

        &-cta {
            margin-top: 60px;
            text-align: center;
        }
    }
}
