@import "../styles/component";

.landing {

    %section {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    display: flex;
    flex-direction: column;
    align-items: center;

    &-wrapper {
        @extend %cw;
    }


    &-banner {
        @extend %section;

        &-title {
            text-align: center;
            word-wrap: break-word;
            overflow-wrap: break-word;
            hyphens: auto;

            .logo-placeholder {
                display: inline-block;
                vertical-align: text-bottom;
            }
        }

        .separator {
            width: 20px;
        }

        &-buttons {
            display: flex;
            justify-content: center;
        }
    }

    &-services {
        @extend %section;
        background-color: $color-secondary;

        &-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .service-box {
                display: flex;
                width: 100%;
                border-radius: 10px;
                min-width: 300px;
                max-width: 500px;
                margin: 10px;

                $icon-title-height: 80px;

                @include for-xs {
                    $icon-title-height: 40px;    
                }

                &-icon {
                    align-items: center;
                    display: flex;
                    height: $icon-title-height;
                    height: $icon-title-height;
                    justify-content: center;
                    padding: 16px;
                    &-icon {
                        $icon-size: 40px;
                        min-width: $icon-size;
                        min-height: $icon-size;

                        @include for-lg {
                            $icon-size: 80px;
                            min-width: $icon-size;
                            min-height: $icon-size;
                        }

                        
                    }
                }

                &-content {
                    display: flex;
                    flex-direction: column;

                    &-title {
                        display: flex;
                        height: $icon-title-height;
                        align-items: center;
                    }

                    &-text {
                        word-break: normal;
                    }
                }

            }
        }

    }

    &-blog {
        @extend %section;
        &-title {
            text-align: center
        }

        &-posts {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center
        }
    }
    
    &-hireus {
        @extend %section;
        padding: 100px 0;
        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        background-color: $color-primary;
        color: $color-light;
        

        &-title {
            text-align: center;
        }

        &-text {
            text-align: center;
        }
    }

}