@import '../styles/component';

.about {
    $ref: &;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-wrapper {
        @extend %cw;
    }

    &-header {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 50px;
        text-align: center;
        background-color: $color-primary;
        &-title {
            @extend %typography-h1;
            color: $color-primary-contrast;
        }
    }

    @include for-sm {
        &-header {
            padding: 10px 0;
            &-title {
                @include typography-h2;
            }
        }
    }
}
