@import '/src/styles/component';

.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    box-shadow: 0 5px 10px -3px rgb(0 0 0 / 50%);
    position: fixed;
    top: 0;
    background-color: $color-light;
    min-height: $header-height;
    z-index: 1;

    .wrapper {
        @extend %cw;
        display: flex;
        align-items: center;
        width: 100%;
    }

    &-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 30px;

        &-menu {
            display: none;
        }
    }

    &-links {
        display: flex;
        align-items: center;
        width: 100%;

        &-wrapper {
            display: flex;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
            justify-content: flex-end;
        }

        // Styles for links in modal
        &-modal {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-item {
                @include anchor-styles('primary', 'light');
                user-select: none;
                margin: 10px 10px;

                &-active {
                    @include anchor-styles('primary', 'light');
                    @include anchor-border-styles('primary');
                }
            }
        }

        &-item {
            @extend %typography-p;
            @include anchor-styles('primary', 'light');
            user-select: none;
            margin: 10px 10px;

            &-active {
                @include anchor-styles('primary', 'light');
                @include anchor-border-styles('primary');
            }
        }
    }

    @include for-sm {
        height: $header-height-sm;
        min-height: $header-height-sm;
        .wrapper {
            flex-direction: column;
            align-items: center;
        }

        &-logo {
            width: 100%;

            &-solfir {
                height: 60px !important;
            }

            &-menu {
                display: initial;
            }
        }

        &-links {
            display: none;
        }
    }
}
