@import '/src/styles/component';

.footer {
    color: $color-primary-contrast;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    min-height: $footer-height;
    width: 100%;
    align-items: center;
    padding-top: 50px;

    &-logo {
        display: flex;
        width: 100%;
        align-items: center;
        height: 70px;
        justify-content: center;
    }

    &-link {
        display: flex;
        align-items: center;
        margin: 10px 0;
        max-width: fit-content;
        @include anchor-styles('secondary', 'primary');
        &-active {
            @include anchor-styles('secondary', 'secondary');
        }
        &-icon {
            margin-right: 10px;
            height: 20px !important;
            width: 20px !important;
        }
    }

    &-wrapper {
        @extend %cw;
        display: flex;
        flex-direction: column;
    }

    &-columns {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 30px;

        &-column {
            display: flex;
            flex-direction: column;
            padding: 20px;

            &-title {
                font-weight: bold;
                @extend %typography-h5;
                margin: 20px 0;
            }
        }
    }

    .social {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            font-weight: bold;
            margin: 30px 0;
        }

        &-icons {
            display: flex;
            margin: 30px 0;
            &-icon {
                height: 40px;
                width: 40px;
                margin: 0 10px;
                &:hover {
                    transform: translate(0px, -5px);
                    cursor: pointer;

                    * {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .trademark {
        @extend %typography-small;
        margin: 50px 0;
        align-self: center;
        text-align: center;
    }

    .credits {
        @extend %typography-small;
        align-self: center;
        text-align: center;
        span {
            margin: 20px 0;
        }
        a {
            @include anchor-styles('secondary', 'primary');
            @extend %typography-small;
            &:hover {
                border-width: 2px;
            }
        }
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        &-title {
            display: flex;
            align-items: center;
            font-weight: bold;

            &-icon {
                margin-right: 10px;
                height: 20px !important;
                width: 20px !important;
            }
        }
        &-link {
            max-width: 300px;
            margin-left: 30px;
        }
    }

    @include for-sm {
        &-logo {
            flex-direction: column;
            align-items: center;
        }
        &-columns {
            flex-direction: column;
            align-items: center;
            &-column {
                align-items: center;
            }
        }

        &-link {
            text-align: center;
        }

        .contact-info {
            align-items: center;
            &-link {
                margin-left: 0;
            }
        }
    }
}
