@import '/src/styles/component';

%blog-card-link-icon {
    margin-left: 10px;
    fill: $color-primary;
    width: 20px !important;
    height: 20px !important;
}

%blog-card-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    vertical-align: middle;
    border-bottom: 3px solid $color-light;
    color: $color-primary;

    &:hover {
        border-bottom: 3px solid $color-primary;
    }
}

.blog-card {
    $ref: &;

    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
    box-shadow: $box-shadow-2;
    background-color: white;

    &:hover {
        box-shadow: $box-shadow-4;
    }

    &-image {
        width: 100%;
    }

    &-summary {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 14px;
        padding: 16px;

        &-title {
            @extend %typography-small;
            font-weight: bold;
        }

        &-text {
            @extend %typography-small;
            display: -webkit-box;
            margin-top: 16px;
        }

        &-actions {
            flex: 1 1 auto;
            display: none;
        }
    }

    &-actions {
        width: 100%;
        padding: 16px;
        display: flex;
        justify-content: flex-end;

        &-link {
            @extend %blog-card-link;
            &-icon {
                @extend %blog-card-link-icon;
            }
        }
    }

    &--horizontal {
        $img-size: 300px;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        // max-height: $img-size;

        #{$ref}-actions {
            display: none;
        }

        #{$ref}-image {
            max-width: $img-size;
            max-height: 100%;
            overflow: hidden;
        }
        #{$ref}-summary {
            display: flex;
            flex-direction: column;
            min-height: 100%;

            &-title {
                @extend %typography-h5;
                margin-bottom: 1rem;
            }

            &-text {
                @extend %typography-p;
                display: initial;
            }

            &-actions {
                @extend %typography-p;
                display: flex;
                width: 100%;
                padding: 16px;
                display: flex;
                justify-self: flex-end;
                justify-content: flex-end;
                align-items: flex-end;

                &-link {
                    @extend %blog-card-link;
                    &-icon {
                        @extend %blog-card-link-icon;
                    }
                }
            }
        }

        @include for-sm {
            flex-direction: column;
            #{$ref}-image {
                max-width: 100%;
                max-height: $img-size;
                overflow: hidden;
            }
        }
    }
}
