@import "/src/styles/component";

.settings {
    $settings-radius: 10px;
    $settings-bg-color: white;
    $settings-toggle-bg-color: rgb(0, 162, 255);
    $settings-width: 200px;
    $settings-height: 200px;
    $settings-transition-duration: 0.5s;
    position: fixed;
    display: flex;
    left: calc($settings-width/2);
    top: 200px;

    &--open {
        left: 0;
        transition-property: left;
        transition-duration: $settings-transition-duration;
    }

    &--closed {
        left: calc(0px - $settings-width);
        transition-property: left;
        transition-duration: $settings-transition-duration;
    }

    &-toggle {
        display: flex;
        background-color: transparent;
        padding-top: 10px;

        &-icon {
            display: flex;
            width: 30px;
            height: 30px;
            padding: 5px;
            background-color: $settings-toggle-bg-color;
            border-top-right-radius: $settings-radius;
            border-bottom-right-radius: $settings-radius;
            box-shadow: 0 0 9px 0 rgb(0 0 0 / 10%);

            &:hover {
                &,
                svg,
                path {
                    cursor: pointer;
                }
            }
        }
    }

    &-content {
        align-items: center;
        background-color: $settings-bg-color;
        display: flex;
        flex-direction: column;
        height: $settings-height;
        padding: 10px;
        border-top-right-radius: $settings-radius;
        border-bottom-right-radius: $settings-radius;
        box-shadow: $box-shadow-1;


        width: $settings-width;

        &-themes {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;

            &-box {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;

                &:hover {
                    cursor: pointer;

                    * {
                        cursor: inherit;
                    }
                }

                &-item {
                    $box-size: 20px;
                    width: $box-size;
                    min-width: $box-size;
                    max-height: $box-size;
                    height: $box-size;
                    min-height: $box-size;
                    max-height: $box-size;
                    margin: 2px 0;
                }
            }
        }

    }



}