@import '/src/styles/component';

.settings {
    $settings-radius: 10px;
    $settings-bg-color: $color-primary;
    $settings-toggle-bg-color: hsl(202, 100%, 50%);
    $settings-width: 200px;
    $settings-height: 200px;
    $settings-transition-duration: 0.5s;
    position: fixed;
    display: flex;
    left: calc($settings-width/2);
    top: 200px;

    &--open {
        left: 0;
        transition-property: left;
        transition-duration: $settings-transition-duration;
    }

    &--closed {
        left: calc(0px - $settings-width);
        transition-property: left;
        transition-duration: $settings-transition-duration;
    }

    &-toggle {
        display: flex;
        background-color: transparent;
        padding-top: 10px;

        &-icon {
            display: flex;
            width: 30px;
            height: 30px;
            padding: 5px;
            background-color: $settings-toggle-bg-color;
            border-top-right-radius: $settings-radius;
            border-bottom-right-radius: $settings-radius;
            box-shadow: 0 0 9px 0 rgb(0 0 0 / 10%);

            &:hover {
                &,
                svg,
                path {
                    cursor: pointer;
                }
            }
        }
    }

    &-content {
        align-items: center;
        background-color: $settings-bg-color;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-top-right-radius: $settings-radius;
        border-bottom-right-radius: $settings-radius;
        box-shadow: $box-shadow-1;
        color: $color-light;

        width: $settings-width;

        &-themes {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;

            &-wrapper {
                display: flex;
                border: 1px solid white;
                padding: 5px;
                margin-bottom: 20px;
                border-radius: 5px;
                box-shadow: $box-shadow-2;
                background-color: $color-light;
                color: $color-dark;

                &:hover {
                    cursor: pointer;
                    box-shadow: $box-shadow-4;

                    * {
                        cursor: inherit;
                    }
                }
            }

            &-box {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;

                &-item {
                    $box-size: 20px;
                    width: $box-size;
                    min-width: $box-size;
                    max-height: $box-size;
                    height: $box-size;
                    min-height: $box-size;
                    max-height: $box-size;
                    margin: 2px 0;
                    border: 1px solid $color-dark;
                    margin: 1px;
                }
            }
        }

        &-text {
            display: flex;
            align-items: center;
            &-icon {
                $text-icon-size: 40px;
                display: flex;
                align-items: center;
                width: $text-icon-size;
                height: $text-icon-size;
                background-color: $color-light;
                fill: $color-dark;
                padding: 3px;
                border-radius: 3px;
                margin: 2px 10px;
                &:hover {
                    &,
                    * {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
